@import url("https://fonts.googleapis.com/css2? family= Open+Sans:wght@300 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.contenedor {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header" "section section" "footer footer";
}

header {
  grid-area: header;
}

section section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

.contenedor {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header" "section section" "footer footer";
}

header {
  grid-area: header;
}

section section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

.encabezado ul {
  list-style: none;
  text-align: center;
  background-color: red;
}

ul li {
  margin-left: 50px;
  padding-top: 10px;
}

ul > li > a {
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: "Open sans";
  text-decoration: none;
}

ul li a:hover {
  color: white;
  transition: all 0.3s;
}

/* Submenu*/
.submenu {
  position: absolute;
  background: #333333;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.submenu li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-family: "Open sans";
  text-decoration: none;
}

.encabezado li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

#titulo {
  height: 400px;
  width: auto;
  font-size: 50px;
  background-image: url(../img/QUE-HACE-LA-MEDICINA-NATURISTA.jpg);
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-position: center;
  background-size: cover;
}

section article img {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
  display: flex;
}

img {
  padding-top: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 60px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: red;
}

footer li {
  margin-left: 10px;
  margin-left: 10px;
  display: inline;
}

.card-ubicacion {
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card-img-top {
  width: 150px;
  display: block;
  justify-content: center;
  align-items: center;
}

p {
  margin: 30px;
  padding: 5px;
}

.carousel img {
  width: 900px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    background-color: blueviolet;
    color: white;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  body {
    background-color: beige;
  }
  p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: lightslategray;
  }
}
.card-body a:link {
  background-color: darkblue;
}

.card-body a:visited {
  background-color: blueviolet;
}

.card-body a:hover {
  background-color: #CE7D35;
}

.card-body a:active {
  background-color: white;
  color: black;
}

.formulario, .formularioc {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.botones input {
  margin-top: 30px;
  background-color: #333333;
}
.botones input:hover {
  background-color: #fff;
  color: black;
}

.formularioc {
  background-color: aquamarine;
  color: black;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 60px;
}

.tarjeta_info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.tarjeta_btn {
  padding-left: 50px;
  height: 440px;
  align-content: flex-start;
}
.tarjeta_btn .btn-primary {
  margin-top: 50px;
}

.card-body {
  height: 550px;
  margin-top: 10px;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */